
body {
    width: 100%;
    height: 100%;
    font-family: Noto Sans;
    color: #f2f2f2;
    background: #333333; 
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

html {
    width: 100%;
    height: 100%;
}

.title{
	text-align: center;
	padding-top: 100px;
	padding-bottom:20px;
	color: #fff;
	cursor:default;
}

.menu{
	padding-top:20px;	
	
}

.main-menu{
		
	padding-top:124px;
}


.description{
	padding:50px;
	}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Noto Sans;
    font-weight: 700;
    letter-spacing: 1px;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
p {
	font-family: Noto Sans;
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

.results{
	display:none;
}

p2 {
	margin: 0 0 25px;
	font-size: 16px;
	line-height: 1.6;
	display: inline-block;
	text-indent: 20px;
	text-align: justify;
	padding-left : 20px;		
}

p3 {
    margin: 0 0 25px;
    font-size: 19px;
    line-height: 1.5;
	display: inline-block;
	text-indent: 20px;
	text-align: justify;
}
.row{
	padding:20px;
}

.force-inline{
	overflow: hidden;
    white-space: nowrap;		
}


h6{
	color:#FFF;
}


.btn {
    border-radius: 2px;
    font-family: Noto Sans;
    font-weight: 600;
	font-size: 25px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	height:60px;
	width:280px;
}

.btn-hidden{
	color: transparent !important; 
	background-color: transparent!important; 
	border-color: transparent!important; 
	cursor: default!important;
	}

.btn-skip{
	margin-right:10px;	
	
}
	
.btn-hidden:hover,
.btn-hidden:focus,
.btn-hidden:focus,
.btn-hidden:active,
.btn-hidden.active.focus,.btn-hidden.active:focus,.btn-hidden.active:hover,.btn-hidden:active.focus,.btn-hidden:active:focus,.btn-hidden:active:hover,.open>.dropdown-toggle.btn-hidden.focus,.open>.dropdown-toggle.btn-hidden:focus,.open>.dropdown-toggle.btn-hidden:hover {
	height:130px!important;
	width:130px!important;
}	
	
.question-quiz {
    color: #9900cc;
	font-family: Noto Sans;
    font-weight: 600;
	font-size: 45px;
    background-color:#f2f2f2;
	border: none;
	outline: none;
	height:200px;
	width:200px;
	margin:5px;
	cursor:default;
}

.question-quiz:hover,
.question-quiz:focus,
.question-quiz:focus,
.question-quiz:active,
.question-quiz.active.focus,.question-quiz.active:focus,.question-quiz.active:hover,.question-quiz:active.focus,.question-quiz:active:focus,.question-quiz:active:hover,.open>.dropdown-toggle.question-quiz.focus,.open>.dropdown-toggle.question-quiz:focus,.open>.dropdown-toggle.question-quiz:hover {
    color: #9900cc!important;
	font-family: Noto Sans;
    font-weight: 600;
	font-size: 45px;
    background-color:#f2f2f2;
	border: none;
	outline: none;
	height:200px!important;
	width:200px;
	margin:5px;
	cursor:default;
}	

.btn-table {
	font-size: 45px;
    color: #9900cc;
    background-color:#f2f2f2;
	border: none;
	outline: none;
	height:130px;
	width:130px;
	margin-left:15px;
}

.btn-round {
	border-radius:150px;

}

.btn-table:hover,
.btn-table:focus,
.btn-table:focus,
.btn-table:active,
.btn-table.active.focus,.btn-table.active:focus,.btn-table.active:hover,.btn-table:active.focus,.btn-table:active:focus,.btn-table:active:hover,.open>.dropdown-toggle.btn-table.focus,.open>.dropdown-toggle.btn-table:focus,.open>.dropdown-toggle.btn-table:hover {
	color: #f2f2f2;
    background-color: #9900cc;
	word-spacing: 0px;
	border: none;
	outline: none;
	height:140px;
	width:140px;
}
.btn-quiz {
    color: #9900cc;
    background-color:#f2f2f2;
	border: none;
	outline: none;
	height:100px;
	width:100px;
	margin:5px;
}

.btn-quiz:hover,
.btn-quiz:focus,
.btn-quiz:focus,
.btn-quiz:active,
.btn-quiz.active.focus,.btn-quiz.active:focus,.btn-quiz.active:hover,.btn-quiz:active.focus,.btn-quiz:active:focus,.btn-quiz:active:hover,.open>.dropdown-toggle.btn-quiz.focus,.open>.dropdown-toggle.btn-quiz:focus,.open>.dropdown-toggle.btn-quiz:hover {
	color: #f2f2f2;
    background-color: #9900cc;
	word-spacing: 0px;
	border: none;
	outline: none;
	height:110px;
	width:110px;
}


.btn-default {
    color: #9900cc;
    background-color:#f2f2f2;
	border: none;
	outline: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:focus,
.btn-default:active,
.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,.open>.dropdown-toggle.btn-default.focus,.open>.dropdown-toggle.btn-default:focus,.open>.dropdown-toggle.btn-default:hover {
	color: #f2f2f2;
    background-color: #9900cc;
	word-spacing: 0px;
	border: none;
	outline: none;
	height:65px;
	width:290px;
}

.hidden-menu{
	display: none;	
}

footer {
	position: absolute;
    padding: 150px 0 50px 0;
	bottom: 0;
  	left: 0;
  	height: 70px;
	position: relative;
	margin-top: -10px; /* negative value of footer height */
	clear:both;
	cursor: default;
}

footer p {
    margin: 0;
}


/* progress bars*/
.progress {
	background: rgba(255, 255, 255, 1); 
	border: 0px solid rgba(245, 245, 245, 1);
	border-radius: 25px;
	background: rgba(142, 8, 60,  .8);}
	
@media(max-width:1100px) {
	
.btn-table {
	font-size: 45px;
    color: #9900cc;
    background-color:#f2f2f2;
	border: none;
	outline: none;
	height: 15vw!important;
	width:15vw!important;
	margin-left:1vw;
}

.btn-table:hover,
.btn-table:focus,
.btn-table:focus,
.btn-table:active,
.btn-table.active.focus,.btn-table.active:focus,.btn-table.active:hover,.btn-table:active.focus,.btn-table:active:focus,.btn-table:active:hover,.open>.dropdown-toggle.btn-table.focus,.open>.dropdown-toggle.btn-table:focus,.open>.dropdown-toggle.btn-table:hover {
	color: #f2f2f2;
    background-color: #9900cc;
	word-spacing: 0px;
	border: none;
	outline: none;
	height: 15vw!important;
	width:15vw!important;
}
}
@media(max-width:445px) {
.btn-table {
	font-size: 30px!important;}
.btn {
	margin-bottom:5px;
	width:95%;
}
h1{
	font-size: 25px!important;
	padding: 2px;
	}
	
h2{
	font-size: 20px;
	padding: 0px;
	}
.btn:hover,
.btn:focus,
.btn:focus,
.btn:active,
.btn.active.focus,.btn.active:focus,.btn.active:hover,.btn:active.focus,.btn:active:focus,.btn:active:hover,.open>.dropdown-toggle.btn.focus,.open>.dropdown-toggle.btn:focus,.open>.dropdown-toggle.btn:hover {

	height:60px;
	width:95%;
}

.btn:hover,
.btn:focus,
.btn:focus,
.btn:active,
.btn.active.focus,.btn.active:focus,.btn.active:hover,.btn:active.focus,.btn:active:focus,.btn:active:hover,.open>.dropdown-toggle.btn.focus,.open>.dropdown-toggle.btn:focus,.open>.dropdown-toggle.btn:hover {

	height:60px;
	width:95%;
}
}
@media(max-width:845px) {
.title{
	padding-top: 50px;
	padding-bottom:0px;
}

h1{
	font-size: 30px;
	padding: 10px;
	}
	
.main-menu{
	padding-top:24px;
}
.btn-quiz:hover,
.btn-quiz:focus,
.btn-quiz:focus,
.btn-quiz:active,
.btn-quiz.active.focus,.btn-quiz.active:focus,.btn-quiz.active:hover,.btn-quiz:active.focus,.btn-quiz:active:focus,.btn-quiz:active:hover,.open>.dropdown-toggle.btn-quiz.focus,.open>.dropdown-toggle.btn-quiz:focus,.open>.dropdown-toggle.btn-quiz:hover {

	height:100px!important;
	width:45%;
}
.btn-quiz {
		width:45%;	
}
.btn-skip{
	margin-right:0px;
}
	
}